{% load static %}
<!DOCTYPE html>
<html>
    <head>
        <title>Yellow Fun Marine</title>
        <link rel="stylesheet" href="{% static 'webpage/style.css' %}">

        <script src="https://cdn.jsdelivr.net/npm/flatpickr"></script>
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/flatpickr/dist/flatpickr.min.css">
    </head>
    <body>
        <header>
            <div>
                <img class="img-logo" src="{% static 'images/logo YFM.png' %}" alt="YFM Logo"/>
            </div>
            <div id="main-nav">
                <nav>
                    <ul>
                        <li><a onclick="scrollToDiv('about-us-content')">O NAS</a></li>
                        <li><a onclick="scrollToDiv('our-boats')">NASZE ŁÓDKI</a></li>
                        <li><a onclick="scrollToDiv('rent')">WYNAJEM</a></li>
                        <li><a onclick="scrollToDiv('statute')">REGULAMIN</a></li>
                        <li><a href="https://www.facebook.com/profile.php?id=61584150071956" target="_blank" rel="noopener noreferrer">
                            <img class="img-nav" src="{% static 'images/facebook.png' %}"/><!--a href="https://www.flaticon.com/free-icons/facebook" title="facebook icons">Facebook icons created by NajmunNahar - Flaticon</a--></a>
                        </li>
                        <li><a href="https://www.instagram.com/yellow.funmarine/?igsh=MWNlcThsYmZzZWM0ag%3D%3D#" target="_blank" rel="noopener noreferrer">
                            <img class="img-nav" src="{% static 'images/instagram.png' %}"/></a>
                        </li>
                    </ul>
                </nav>
            </div>
        </header>
        <main>
            <article id="main-page">
                <section id="about-us" class="main-page">
                    <div class="section-part">
                        <div class="section-part-img-big">
                            <img class="img-container-big" src="{% static 'images/zdj-strona-gl1.png' %}" alt="YFM Boat1"/>
                        </div>
                        <div class="section-part-img-big">
                            <img class="img-container-big" src="{% static 'images/zdj-strona-gl2.png' %}" alt="YFM Boat2"/>
                        </div>
                    </div>
                    <div id="about-us-content">
                        <h2>O NAS</h2>
                        <p>
                            Jesteśmy zespołem pasjonatów żeglarstwa z&nbsp;ponad 20-letnim doświadczeniem w&nbsp;tej dziedzinie. 
                            Naszą bazą jest malowniczo położone Jezioro Przeczyckie, gdzie we współpracy
                            z&nbsp;klubem żeglarskim tworzymy przestrzeń do aktywnego wypoczynku na wodzie, 
                            zarówno dla klientów indywidualnych, jak i&nbsp;firm.
                        </p>
                        <div class="section-part">
                            <div class="section-part-text-big">
                                <h5>Dlaczego warto nas wybrać</h5>
                                <ul>
                                    <li>Ponad 20 lat doświadczenia w żeglarstwie</li>
                                    <li>Działalność przy Jeziorze Przeczyckim - jednym z piękniejszych akwenów w regionie</li>
                                    <li>Nowoczesny, bezpieczny i zadbany sprzęt</li>
                                    <li>Ekologiczne podejście do prowadzenia działalności</li>
                                    <li>Indywidualne podejście do potrzeb klienta</li>
                                </ul>
                            </div>
                            <div class="section-part-img-big">
                                <img class="img-container-big" src="{% static 'images/zdj-o-nas-1.png' %}" alt="YFM Boat3"/>
                            </div>
                        </div>
                        <div>
                            <button class="button-blue" onclick="unwrappDiv('about-us-content-hidden-info')">DOWIEDZ SIĘ WIĘCEJ</button>
                        </div>
                        <div id="about-us-content-hidden-info" class="black-frame wrapped-content">
                            <p>
                                W naszej wypożyczalni łączymy pasję do sportów wodnych z&nbsp;troską o&nbsp;środowisko.
                                Działamy w&nbsp;sposób, który minimalizuje negatywny wpływ na ekosystem wodny
                                i&nbsp;jego otoczenie. Sprzęt, którym dysponujemy, został starannie wybrany zgodnie
                                z&nbsp;ekologicznymi standardami - jest trwały, łatwy w&nbsp;naprawie i&nbsp;w&nbsp;pełni nadaje się 
                                do recyklingu. Dzięki takim działaniom każdy rejs jest bezpieczny, komfortowy i&nbsp;przyjazny dla przyrody.
                            </p>
                            <div class="section-part">
                                <div class="section-part-text">
                                    <h5>Nasze cele obejmują</h5>
                                    <ul>
                                        <li>Ochronę ekosystemu jeziora</li>
                                        <li>Segregację odpadów</li>
                                        <li>Zwiększenie świadomości ekologicznej wśród odwiedzających</li>
                                        <li>Łagodzenie skutków zmian klimatu poprzez promocję odpowiedzialnej rekreacji i&nbsp;proekologicznych rozwiązań</li>
                                    </ul>
                                </div>
                                <div class="section-part-img">
                                    <img class="img-container-small" src="{% static 'images/icon-planet.png' %}"/>
                                </div>
                            </div>
                        </div>
                    </div>
                </section>
                <section id="our-boats" class="main-page">
                    <div>
                        <h2 class="h2-right">NASZE ŁÓDKI</h2>
                        <h4>Jacht Antila 28.2 - Elegancja, zwrotność i&nbsp;komfort dla całej załogi</h4>
                        <p>
                            Antila 28.2 to jacht sportowo-rekreacyjny, zaprojektowany przez Michała Orycha.
                            Charakteryzuje się wyjątkowymi osiągami nautycznymi, a&nbsp;przy tym przestronnym i&nbsp;nowoczesnym wnętrzem — doskonale sprawdzi się na żeglugę rodzinną czy z&nbsp;przyjaciółmi, mieści na swoim pokładzie aż do ośmiu osób.
                        </p>
                        <div class="section-part">
                            <div class="section-part-img-big">
                                <img class="img-container-big" src="{% static 'images/zdj-nasze-lodki.png' %}" alt="YFM Boat4"/>
                            </div>
                            <div class="section-part-text-big">
                                <div id="why-our-boats">
                                    <h5>Co wyróżnia nasze łódki</h5>
                                    <ul>
                                        <li>Sylwetka i pokład</li>
                                        <li>Wygoda i wyposażenie</li>
                                        <li>Wnętrze</li>
                                        <li>Kuchnia i łazienka</li>
                                        <li>Parametry techniczne</li>
                                    </ul>
                                </div>
                                <div>
                                    <button class="button-blue" onclick="unwrappDiv('our-boats-hidden-info')">DOWIEDZ SIĘ WIĘCEJ</button>
                                </div>
                            </div>
                        </div>
                        <div id="our-boats-hidden-info" class="wrapped-content">
                            <div class="black-frame">
                                <div class="section-part">
                                    <div class="section-part-img">
                                        <img class="img-container-small" src="{% static 'images/icon-boat.png' %}"/>
                                    </div>
                                    <div class="section-part-text">
                                        <h5>Sylwetka i&nbsp;pokład - styl i&nbsp;ergonomia w&nbsp;jednym</h5>
                                        <p>Dynamiczna i&nbsp;smukła linia kadłuba odzwierciedla sportową naturę jachtu, zaś ergonomiczny pokład z&nbsp;szerokimi półpokładami i&nbsp;niską nadbudówką zapewniają doskonałą widoczność i&nbsp;wygodę sterowania. Pokład i&nbsp;kadłub są w&nbsp;kolorze białym.</p>                         
                                    </div>
                                </div>
                            </div>
                            <div class="section-part">
                                <div class="section-part-img">
                                    <img class="img-container-small" src="{% static 'images/icon-heart.png' %}"/>
                                </div>
                                <div class="section-part-text">
                                    <h5>Wygoda i&nbsp;wyposażenie - wszystko, czego potrzeba</h5>
                                    <ul>
                                        Jednostkę wyposażono w&nbsp;rozwiązania podnoszące komfort żeglugi:
                                        <li>Kabestany fałowe 12ST 2szt, kabestany szotowe 12ST 2szt</li>
                                        <li>Ster strumieniowy ułatwiający manewry portowe</li>
                                        <li>Przestronny kokpit z&nbsp;solidnym osprzętem i&nbsp;stolikiem - idealne miejsce na wspólne chwile na wodzie</li>
                                        <li>Urządzenie sterowe: jarzmo z&nbsp;rumplem ze stali A2</li>
                                    </ul>
                                </div>
                            </div>
                            <div class="black-frame section-part">
                                <div class="section-part-img">
                                    <img class="img-container-small" src="{% static 'images/icon-comfort.png' %}"/>
                                </div>
                                <div class="section-part-text">
                                    <h5>Wnętrze - komfort podczas żeglugi</h5>
                                    <p>Antila 28.2 oferuje trzy zamykane kabiny dwuosobowe. W&nbsp;mesie dostępne są dodatkowe dwie rozkładane koje, które umożliwiają nocleg dla ośmiu osób. Wysokość wnętrza wynosi 1,86&nbsp;m, co gwarantuje swobodę poruszania się i&nbsp;wygodę użytkowania.</p>
                                </div>
                            </div>
                            <div class="section-part">
                                <div id="shower-img" class="section-part-img">
                                    <img class="img-container-small" src="{% static 'images/icon-shower.png' %}"/>
                                </div>
                                <div class="section-part-text">
                                    <h5>Kuchnia i łazienka - komfort i funkcjonalność</h5>
                                    <p>W kambuzie znajdziesz kuchenkę gazową z dwoma palnikami, instalację wody pitnej, zlewozmywak, toaletę morską z obiegiem za burtowym oraz lodówkę 40l. Mesa i kajuty doświetlają otwierane okienka i oświetlenie wewnętrzne, zapewniając przyjazną atmosferę.</p>
                                </div>
                            </div>
                            <div class="black-frame section-part">
                                <div class="section-part-img">
                                    <img class="img-container-small" src="{% static 'images/icon-tools.png' %}"/>
                                </div>
                                <div class="section-part-text">
                                    <h5>Parametry techniczne</h5>
                                    <ul>
                                        <li>Długość całkowita: 8,85 m</li>
                                        <li>Długość kadłuba: 8,28 m</li>
                                        <li>Szerokość kadłuba: 3,07 m</li>
                                        <li>Zanurzenie bez miecza / z mieczem: 0,43 m / 1,75 m</li>
                                        <li>Max. wysokość w kabinie: 1,86 m</li>
                                        <li>Powierzchnia żagli / Grot / Fok39 m2</li>
                                        <li>Masa transportowa: do 4 000 kg</li>
                                        <li>Balast denny: 1 000 kg</li>
                                        <li>Masa miecza uchylnego: 100 kg</li>
                                        <li>Wysokość masztu nad pokładem: 11 m</li>
                                        <li>Wysokość boczna łodzi nad wodą: 12,6 m</li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                </section>
                <section id="rent" class="main-page">
                    <h2>WYNAJEM</h2>
                    <div class="section-part">
                        <div class="section-part-text-big">   
                            <p>Rezerwacja jest szybka i&nbsp;wygodna - wystarczy skontaktować się z&nbsp;nami mailowo, a&nbsp;dobierzemy dla Ciebie odpowiednią łódkę oraz ustalimy dogodny termin.</p>
                            <h5>Nasz sprzęt</h5>
                            <ul>
                                <li>Antila 28.2 - Negroni</li>
                                <li>Antila 28.2 - Espresso</li>
                            </ul>
                            <button class="button-blue" onclick="scrollToDiv('contact')">KONTAKT</button>
                            <p>Czas wyruszyć na wodę i cieszyć się każdą chwilą.
                                <span onclick="unwrappDiv('rent-hidden-info')" style="color: var(--custom-blue-standard); font-weight: bold; cursor: pointer;">ZAREZERWUJ JUŻ TERAZ!</span>
                            </p>
                        </div>
                        <div class="section-part-img-big">
                            <img class="img-container-big" src="{% static 'images/zdj-wynajem.png' %}" alt="YFM Boat5"/>
                        </div>
                    </div>
                    <div id="rent-hidden-info" class="wrapped-content">                       
                        <iframe 
                            src="https://forms.gle/bnMFDJbYGQCLGm4x9"
                            width="100%"
                            height="1400"
                            frameborder="0">
                        </iframe>
                        <div class="section-part">
                            <div class="section-part-img-big">
                                <img class="img-container-small" src="{% static 'images/blik.png' %}" alt="blik"/>
                            </div>
                            <div class="section-part-img-big">
                                <img class="img-container-small" src="{% static 'images/przelewy24.png' %}" alt="przelewy24"/>
                            </div>
                        </div>
                    </div>
                </section>
                <section id="statute" class="main-page">
                    <h2 class="h2-right">REGULAMIN</h2>
                    <div class="section-part">
                        <div class="section-part-img-big">
                            <img class="img-container-big" src="{% static 'images/zdj-regulamin.png' %}" alt="YFM Boat6"/>
                        </div>
                        <div class="section-part-text-big">
                            <p>Regulamin określa warunki wynajmu naszych łódek. Jego celem jest wygoda i&nbsp;bezpieczeństwo korzystania z&nbsp;usług oraz przedstawienie praw i&nbsp;obowiązków Wynajmującego i&nbsp;Najemcy. Korzystając z&nbsp;oferty, Najemca potwierdza zapoznanie z&nbsp;jego treścią, akceptuje jego postanowienia i&nbsp;zobowiązuje się do ich przestrzegania.</p>
                            <a href="{% static 'pdfs/RegulaminYFM.pdf' %}" target="_blank" rel="noopener noreferrer" style="text-decoration: none;">
                                <button class="button-blue">REGULAMIN</button>
                            </a>
                        </div>
                    </div>
                </section>
                <section id="opinions" class="main-page">
                    <h2>OPINIE</h2>
                    <div id="section-opinions">
                        <div id="section-opinions-top">
                            <h3>W tym miejscu pojawią się opinie.</h2>
                        </div>
                        <div id="section-opinions-author">
                            <p>...</p>
                        </div>
                    </div>
                </section>
                <section id="contact" class="main-page">
                    <h2 class="h2-right">SKONTAKTUJ SIĘ Z NAMI</h2>
                    <div class="section-part">  
                        <div id="contact-form">
                            <form id="contact" action="{% url 'contact' %}" method="post">
                                {% csrf_token %}
                                <div><input type="text" id="imie" name="imie" required placeholder="Imię"></div>
                                <div><input type="email" id="email" name="email" required placeholder="Email"></div>
                                <div><textarea id="wiadomosc" name="wiadomosc" rows="10" required placeholder="Wiadomość"></textarea></div>
                                <div style="display: flex;">
                                    <button class="button-inline-blue" type="submit">Wyślij</button>
                                    <button class="button-inline-blue" type="reset">Resetuj</button>
                                </div>
                            </form>
                        </div>
                        <div class="section-part-text-big">
                            <iframe class="frame-google-map" 
                                    src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d5080.857924928452!2d19.182862076898072!3d50.45173629118941!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x471729487d948cb1%3A0x647766f583fcf729!2zUHJ6eXN0YcWEIEtsdWIgxbtlZ2xhcnNraSBaYWfFgsSZYmll!5e0!3m2!1spl!2spl!4v1767794953671!5m2!1spl!2spl"
                                    allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade">
                            </iframe>
                        </div>
                    </div>
                </section>
            </article>
        </main>
        <footer>
            <img class="img-logo-footer" src="{% static 'images/footer.png' %}" alt="Footer"/>
            <div id="footer-content">
                <p>Żółte Drzwi sp. z o.o. realizuje projekt dofinansowany z&nbsp;Krajowego Planu Odbudowy i&nbsp;Zwiększania Odporności&nbsp;(KPO)&nbsp;w&nbsp;ramach działania&nbsp;A1.2.1
                   "Inwestycje dla przedsiębiorstw&nbsp;w&nbsp;produkty, usługi&nbsp;i&nbsp;kompetencje pracowników oraz kadry związane&nbsp;z&nbsp;dywersyfikacją działalności".
                </p>
                <div id="read-more-info" class="unwrapped-content">
                    <span onclick="unwrappDiv('kpo-hidden-info'); wrappDiv('read-more-info');"
                          style="text-decoration: underline; cursor: pointer;">Przeczytaj więcej...
                    </span>
                </div>
                <div id="kpo-hidden-info" class="wrapped-content">
                    <p>Tytuł projektu: "Dywersyfikacja działalności w&nbsp;celu zwiększenia odporności na kryzys Spółki Żółte Drzwi&nbsp;sp. z&nbsp;o.o. poprzez&nbsp;uruchomienie Wypożyczalni Sprzętu Wodnego 'Yellow FunMarine', poprzez realizację Przedsięwzięcia MŚP na Śląsku (region 4)"
                        <br/>Cel projektu: Zwiększenie odporności przedsiębiorstwa na sytuacje kryzysowe poprzez dywersyfikację działalności&nbsp;i&nbsp;wejście na nowe rynki dzięki uruchomieniu wypożyczalni sprzętu wodnego nad jeziorem Przeczyckim. 
                        <br/>Wartość dofinansowania: 493&nbsp;000,00&nbsp;zł
                        <br/>Projekt współfinansowany ze środków Unii Europejskiej w&nbsp;ramach Krajowego Planu Odbudowy&nbsp;i&nbsp;Zwiększania Odporności.
                    </p>
                </div>
            </div>
        </footer>

        <script> // scroll
            function scrollToDiv(divId) {
                const element = document.getElementById(divId);
                if (!element) {
                    console.warn(`Element o ID "${divId}" nie został znaleziony.`);
                    return;
                }
                // Blur any focused iframe to prevent autofocus errors
                const focusedElement = document.activeElement;
                if (focusedElement && focusedElement.tagName === 'IFRAME') {
                    focusedElement.blur();
                }
                element.scrollIntoView({
                    behavior: "smooth",
                    block: "start"
                });
            }
        </script>

        <script> //unwrapp div
            function unwrappDiv(divId) {
                const el = document.getElementById(divId);
                if (el) {
                    el.classList.add("unwrapped-content");
                    el.classList.remove("wrapped-content");
                }
            }
        </script>
        <script> //wrapp div
            function wrappDiv(divId) {
                const el = document.getElementById(divId);
                if (el) {
                    el.classList.add("wrapped-content");
                    el.classList.remove("unwrapped-content");
                }
            }
        </script>
    </body>
</html>